body, nav, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
}

.toggleMenu {
<<<<<<< HEAD
  display: none;
  background: #666;
=======
  display:none;
  background:#666;
>>>>>>> upstream/master
  padding: 10px 15px;
  color: #fff;
}

.nav {
  list-style: none;
  *zoom: 1;
  background: #175e4c;
  position: relative;
}

.nav:before, .nav:after {
  content: "";
  display: table;
}

.nav:after {
  clear: both;
}

.nav ul {
  list-style: none;
  width: 9em;
}

.nav a {
  padding: 10px 15px;
  color: #fff;
  *zoom: 1;
}

.nav > li {
  float: left;
  border-top: 1px solid #104336;
<<<<<<< HEAD
  z-index: 200;
=======
  z-index: 100;
>>>>>>> upstream/master
}

.nav > li > a {
  display: block;
}

.nav li ul {
  position: absolute;
<<<<<<< HEAD
  left: -9999px;
  z-index: 100;
=======
  left:-9999px;
  z-index:100;
>>>>>>> upstream/master
}

.nav li li a {
  display: block;
  background: #1d7a62;
  position: relative;
  z-index: 100;
<<<<<<< HEAD
  border-top: 1px solid #175e4c;
}

.nav li li li a {
  background: #249578;
  z-index: 200;
=======
  border-top: 1px solid #175e4c
}

.nav li li li a{
  background: #249578;
  z-index:100;
>>>>>>> upstream/master
  border-top: 1px solid #1d7a62;
}

.nav li {
  position: relative;
}

.nav > li.hover > ul {
<<<<<<< HEAD
  left: 0;
}

=======
  left:0;
}
>>>>>>> upstream/master
.nav li li.hover ul {
  left: 100%;
  top: 0;
}

@media screen and (max-width: 800px) {
  .nav > li {
<<<<<<< HEAD
    float: none;
=======
    float:none;
>>>>>>> upstream/master
  }
  .nav ul {
    display: block;
    width: 100%;
  }
  .nav > li.hover > ul, .nav li li.hover ul {
<<<<<<< HEAD
    position: static;
  }
}


















=======
    position:  static;
  }
}
>>>>>>> upstream/master
