body, nav, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
}

.togglemenu{
  display:none;
  background:#666;
  padding: 10px 15px;
  color: #fff;
}

.nav {
  list-style: none;
  *zoom: 1;
  background: #175e4c;
  position: relative;
}

.nav:before, .nav:after{
  content: "";
  display: table;
}

.nav: after{
  clear: both;
}

.nav ul{
  list-style: none;
  width: 9em;
}

.nav a{
  padding: 10px 15px;
  color: #fff;
  *zoom: 1;
}

.nav > li {
  flaot: left;
  border-top: 1px solid #104336;
  z-index: 100;
}

.nav > li > a {
  display: block;
}

.nav li ul {
  position: absolute;
  left:-9999px;
  z-index:100;
}

.nav li li a {
  display: block;
  background: #1d7a62;
  position: relative;
  z-index: 100;
  border-top: 1px solid #175e4c
}

.nav li li li a{
  background: #249578;
  z-index:100;
  border-top: 1px solid #1d7a62;
}